[Desktop Entry]
Name=xane-o no borders dark face
Comment=xane decoration theme (no borders version)


X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=egoraude
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=xane-o_nb-dark-face
X-KDE-PluginInfo-Version=v1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
X-KWin-Config-TranslationDomain=kwin_clients
Type=Service

